@charset "UTF-8";

#head_top{width: auto;min-width: 1000px;height: 25px;}
#logindiv{float: right; margin-right: 50px;}
.login_regin{float: left;font-size: 13px;line-height: 24px;margin-left: 20px;
				color: #333;}