<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.chnjan.ccblog.main.service.impl"></context:component-scan>
    
    <!-- 定时任务管理 -->
    <bean id="globalTimer" class="com.chnjan.ccblog.pub.timer.globalTimerManage">
    </bean>
	
	<!-- lazy-init="false" autowire="no"  -->
	<bean id="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!-- <property name="autoStartup" value="false"/> -->
        <!-- 管理trigger -->
        <property name="triggers">
            <list>
                <ref bean="updateBlogTrigger" />
            </list>
        </property>
    </bean>
	
</beans>