<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chnjan.ccblog.main.dao.BlogUserDao">
	<resultMap type="com.chnjan.ccblog.main.domain.Blog" id="rmBlog">
		<id column="blogid" property="blogId"/>
		<result column="title" property="title"/>
		<result column="createtime" property="createTime"/>
		<result column="lastupdatetime" property="lastUpdateTime"/>
		<result column="content" property="content"/>
		<result column="autorid" property="autorid"/>
		<result column="autorid" property="autorName"/>
		<result column="readcount" property="readCount"/>
		<result column="upupcount" property="upupCount"/>
	</resultMap>
	
	<insert parameterType="com.chnjan.ccblog.main.domain.BlogUser" id="addUser">
		insert into t_main_blog (blogid,
						    	title,
						    	createtime,
						    	lastupdatetime,
						    	content,
						    	autorid)
						values (#{blogId},
								#{title},
						    	sysdate(),
						    	#{lastUpdateTime},
						    	#{content},
						    	#{autorid})
	</insert>
	<select id="queryUserById" parameterType="String" resultType="com.chnjan.ccblog.main.domain.BlogUser">
	 	select * from t_main_blog where blogId = #{blogId}
	</select>
	<delete id="deleteUserById" parameterType="String">
		delete from t_main_blog where blogid = #{blogId}
	</delete>
	<update id="updateUser" parameterType="com.chnjan.ccblog.main.domain.BlogUser">
		update t_main_blog set
			title = #{title},
		    content = #{content},
		    lastupdatetime = sysdate(),
		    autorid = #{autorid}   
		where blogId = #{blogId}
	</update>
	
	<!-- 首页展示博客列表查询 -->
	<select id="queryBlogList" resultType="com.chnjan.ccblog.main.domain.Blog">
	 	SELECT t.blogid,t.createtime,t.lastupdatetime,t.title,
			t.content,t.autorid,t.autorid autorname,t.readcount,t.upupcount
		FROM
			t_main_blog AS t
		ORDER BY
			t.createtime DESC
	</select>
	
	<!-- 通过url查询用户id -->
	<select id="queryUserIdByUrl" parameterType="String" resultType="String">
	 	SELECT t.userid
		FROM
			t_main_userurl AS t
		where 
			t.url = #{url}
	</select>
	
	
</mapper>