<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chnjan.ccblog.main.dao.BlogDao">
	<resultMap type="com.chnjan.ccblog.main.domain.Blog" id="rmBlog">
		<id column="blogid" property="blogId"/>
		<result column="title" property="title"/>
		<result column="createtime" property="createTime"/>
		<result column="lastupdatetime" property="lastUpdateTime"/>
		<result column="content" property="content"/>
		<result column="abstract" property="blogAbstract"/>
		<result column="autorid" property="autorid"/>
		<result column="autorid" property="autorName"/>
		<result column="readcount" property="readCount"/>
		<result column="upupcount" property="upupCount"/>
	</resultMap>
	
	<insert parameterType="com.chnjan.ccblog.main.domain.Blog" id="addBlog">
		insert into t_main_blog (blogid,
						    	createtime,
						    	lastupdatetime,
						    	title,
						    	content,
						    	abstract,
						    	type,
						    	autorid,
						    	userurl)
						values (#{blogId},
						    	sysdate(),
						    	sysdate(),
								#{title},
						    	#{content},
						    	#{blogAbstract},
						    	#{type},
						    	#{autorid},
						    	#{userUrl})
	</insert>
	<select id="queryBlogById" parameterType="String" resultType="com.chnjan.ccblog.main.domain.Blog">
	 	select * from t_main_blog where blogId = #{blogId}
	</select>
	<delete id="deleteBlogById" parameterType="String">
		delete from t_main_blog where blogid = #{blogId}
	</delete>
	<update id="updateBlog" parameterType="com.chnjan.ccblog.main.domain.Blog">
		update t_main_blog set
			title = #{title},
		    content = #{content},
		    lastupdatetime = sysdate(),
		    autorid = #{autorid}   
		where blogId = #{blogId}
	</update>
	
	<!-- 首页展示博客列表查询 -->
	<select id="queryBlogList" resultType="com.chnjan.ccblog.main.domain.Blog">
	 	SELECT t.blogid,t.createtime,t.lastupdatetime,t.title,
			t.content,t.abstract blogAbstract,t.type,t.autorid,
			t.autorid autorname,t.readcount,t.upupcount
		FROM
			t_main_blog AS t
		ORDER BY
			t.createtime DESC
	</select>
	
	<!-- 通过userUrl查询所有blog的数量 -->
	<select id="queryBlogCountByUrl" parameterType="String" resultType="int">
		SELECT COUNT(*) count
		FROM t_main_blog t
		WHERE t.userurl = #{userUrl}
	</select>
	
	<!-- 通过用户id查询所有blog信息，带分页 -->
	<select id="queryBlogListByUid" resultType="com.chnjan.ccblog.main.domain.Blog" >
		SELECT t.blogid,t.createtime,t.lastupdatetime,t.title,
			t.content,t.abstract blogAbstract,t.type,t.autorid,
			t.userurl,u.nickname autorname,t.readcount,t.upupcount
		FROM
			t_main_blog AS t,
			t_main_userinfo As u,
			t_main_userurl as l
		where t.autorid = u.userid
		and t.autorid = l.userid
		and l.url = #{userUrl}
		ORDER BY
			t.createtime DESC
		LIMIT #{page.start},#{page.pageSize}
	</select>
	
</mapper>